@page "/services"
@inject IStringLocalizer<Nav> L

<RadzenRow class="rz-w-75 rz-w-sm-100 rz-p-4 rz-pt-2">
    <RadzenColumn Size="8" SizeSM="6" SizeMD="8" SizeLG="9" Order="2" OrderSM="1">
        
        <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H5">
            @L["Services"]
        </RadzenText>

        <div class="rz-py-12 rz-px-6">
            <Service Icon="troubleshoot"
                     Name="@L["DigitalCleanup"]"
                     Description="@L["DigitalCleanupDescription"]"
                     Mirrored="false"
                     ForCompanies="@L["ForSmallAndMediumCompanies"]"
                     Anchor="toc#config-section1" />
        </div>
        
        <div class="rz-py-12 rz-px-6">
            <Service Icon="component_exchange"
                     Name="@L["DigitalProcessAutomation"]"
                     Description="@L["DigitalProcessAutomationDescription"]"
                     Mirrored="true"
                     ForCompanies="@L["ForServiceOrAdminHeavyBusinesses"]"
                     Anchor="toc#config-section2" />
        </div>

        <div class="rz-py-12 rz-px-6">
            <Service Icon="partner_exchange"
                     Name="@L["Consultancy"]"
                     Description="@L["ConsultancyDescription"]"
                     Mirrored="false"
                     ForCompanies="@L["ForCompaniesAndIndividuals"]"
                     Anchor="toc#config-section3" />
        </div>

        <div class="rz-py-12 rz-px-6">
            <Service Icon="terminal"
                     Name="@L["SoftwareEngineering"]"
                     Description="@L["SoftwareEngineeringDescription"]"
                     Mirrored="true"
                     ForCompanies="@L["ForCompaniesAndIndividuals"]"
                     Anchor="toc#config-section4" />
        </div>
        
        <div class="rz-py-12 rz-px-6">
            <Service Icon="concierge"
                     Name="@L["ItSupport"]"
                     Description="@L["ItSupportDescription"]"
                     Mirrored="false"
                     ForCompanies="@L["ForIndividualEntrepreneurs"]"
                     Anchor="toc#config-section5" />
        </div>
        
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-py-12">
            @L["copyright"]
        </RadzenText>
    </RadzenColumn>
    <RadzenColumn Size="8" SizeSM="6" SizeMD="4" SizeLG="3" Order="1" OrderSM="2">
        <RadzenToc Selector=".inner-body" style="position: sticky; top: 0; right: 0;">
            <RadzenTocItem Text="@L["DigitalCleanup"]" Selector="#config-section1"></RadzenTocItem>
            <RadzenTocItem Text="@L["DigitalProcessAutomation"]" Selector="#config-section2"></RadzenTocItem>
            <RadzenTocItem Text="@L["Consultancy"]" Selector="#config-section3"></RadzenTocItem>
            <RadzenTocItem Text="@L["SoftwareEngineering"]" Selector="#config-section4"></RadzenTocItem>
            <RadzenTocItem Text="@L["ItSupport"]" Selector="#config-section5"></RadzenTocItem>
        </RadzenToc>
    </RadzenColumn>
</RadzenRow>